/build/
/cmake-build-*/
/out/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Makefile
compile_commands.json

.vscode/
.idea/
.cache/
*.swp
*.iml
.DS_Store

android/local.properties
android/.gradle/
android/build/
android/captures/
android/app/build/
android/app/.cxx/
android/app/.externalNativeBuild/
.gradle/

imgui.ini
